section.projects-slider
  h2.projects-slider__title
    | Our Projects
  .glide
    .glide__track(data-glide-el="track")
      ul.glide__slides
        //-  parameters of card mixin:
             1) link to the project
             2) color of the card
             3) label text
             4) upper title text
             5) bottom title text
             6) description text
             7) image $index that is inserted into img/card#{$index}.png for linking an image
             8) html tag which wraps the card
             9) game classname modificator for adding extra styles for specific cards
        +card('./single-project.html','green','B2B / FACEBOOK','SOCCER', 'KICK & SHOOTOUT','Global audience segmentation to determine brand and content direction','2','li','default')
        +card('./single-project.html','blue-light','B2B / CARTOON NETWORK','ADVENTURE TIME', ' AVALANCHE','Global audience segmentation to determine brand and content direction','3','li','avalanche')
        +card('./single-project.html','orange','DIGITAL / GAME','SOCCER', 'KICK & SHOOTOUT','Global audience segmentation to determine brand and content direction','4','li','default')
        +card('./single-project.html','orange','DIGITAL / GAME','SOCCER', 'KICK & SHOOTOUT','Global audience segmentation to determine brand and content direction','4','li','default')
        +card('./single-project.html','blue-dark','B2B / CARTOON NETWORK','ADVENTURE TIME ', 'THE FROSTY FIGHTS','Global audience segmentation to determine brand and content direction','1','li','frosty')
    .glide__arrows(data-glide-el='controls')
      button.glide__arrow.glide__arrow--left(data-glide-dir='<')
        +arrow-left-index
      button.glide__arrow.glide__arrow--right(data-glide-dir='>')
        +arrow-right-index

  //-  parameters of button mixin:
       1) text of the button
       2) modificator of the button
       3) unique id for main button
       4) unique id for secondary button that fakes stroke
       5) dx attribute that helps to align svg text horizontally
       6) dy attribute that helps to align svg text vertically
       7) link of the button
  +button('View All','--white','3','4','4.3','8','projects.html')


