section.description-secondary
  .wrapper
    p.description-secondary__text
      | We now are proud to have 75 professionals in our Leeds team, 3 offices around the world, and we work for some of the greatest brands around - some of which we are just helping start out on their journey. Most of our clients have been with us for years and have become our friends, but our real joy lies in watching millions of kids use our products - it's our measure of success.