//- Including mixins and extending default layout for html page.
include ../../templates/general/_mixins
extends ../../templates/general/_layout


//- Inserting main data into page.
block config
  -
    var
      path = '../../'
      pageTitle = 'Alienanza'
      footerType = 'footer--bg-orange'
      gameTitle = 'alienanza'
      gameContainer = 'Alienanza'
      description = 'Put your memory and reflexes to a test in Alienanza, the fun mind-bending space game! How long can you keep track of crazy aliens from outer space? Simply tap “YES” if the new alien is the same as the last one. Wait, is it “YES” or “NO”? Uh-oh, time is running out and the pace is picking up really fast! How many of these cute extra terrestrials can you get through before losing your mind?'

block scripts-head
  script(src="./src/lq/Mejdu.min.js")
  script(src="./src/Alienanza.min.js")

//- Uncomment if need cookie dialog on this page.
//- block cookie
//- include templates/general/_cookie


//- Including header template.
block header
  include ../../templates/general/_header


//- Including main section of in-house game.
block main
  main
    include ../../templates/general/_game-in-house


//- Including footer template.
block footer
  include ../../templates/general/_footer


//- Including scripts that are relative to this page.
block scripts-bottom
  script(src="../../js/snap.svg-min.js")
  script(src="../../js/menu-control.js")
  script(src="../../js/single-button.js")
