include templates/general/_mixins
extends templates/general/_layout

block config
  - var pageTitle = 'Contact'
  - var footer_type = 'footer--bg-blue'

//block cookie
  include templates/general/_cookie

block header
  include templates/general/_header

block main
  main.contact-page
    include templates/general/_form


block footer
  include templates/general/_footer

block scripts-bottom
  script(src="js/snap.svg-min.js")
  script(src="js/jquery.min.js")
  script(src="js/menu-control.js")
  script(src="js/contact.js")
