section.info.info--services
  .info__column.info__column--image
    img.info__image(src="./img/people1.png")
  .info__column.info__column--info
    .info__text-wrapper
      h2.info__title
        | Our Services.
      p.info__description
        | Art, code, design. We provide a complete game development service offering all you will ever need. With 100+ game projects under our belt, the Fundemic team is here for you to craft engaging and beautiful gameplay experiences that run on mobile, web, and desktop.

      //- a.info__link(href="projects.html")
        | Learn More
      +button('Learn More','--mid animated-button--blue animated-button--bg','5','6','-1','7','projects.html')
    .info__svg-wrapper#scroll
      img.info__svg.info__svg--monitor(src="img/monitor-tablet-phone-1.svg")
      img.info__svg.info__svg--mobile(src="img/monitor-tablet-phone-2.svg")
      img.info__svg.info__svg--tablet(src="img/monitor-tablet-phone-3.svg")