section.description-secondary
  .wrapper
    p.description-secondary__text
      | Trusted by A-list companies in the gaming & entertainment industries, Fundemic provide full and partial development services.