section.description-main
  .wrapper
    h1.description-main__title
      div
        | Hello,
      div
        |We Are Fundemic
    p.description-main__text
      | Dubit was established in 1999 to develop immersive entertainment and education for young people. We knew from the outset that understanding how kids would use our products was crucial to their success, so we included children on our board - the youngest directors ever according to the Guinness Book of Records! (Yes, we've got the certificate.)
    p.description-main__text
      | They've all grown up now, but we've kept that principle alive and at the heart of the company: kids are in our offices almost every day, for client research, for testing our own products or others, and for keeping us up to date with what's cool, what's new, and how to do it best for younger audiences.
