section.description-main
  .wrapper
    h1.description-main__title
      div
        | Hello,
      div
        |We Are Fundemic
    p.description-main__text
      | We are a seasoned team of developers whose experience is backed by 100+ successful game projects and dozens of happy clients around the world. We help companies and brands develop amazing games that are addictive, fun, and cross-platform.

    p.description-main__text
      | Whether you are a huge business or a bootstrapped startup, we are here to turn your game vision into reality.