section.clients#scroll2
  .wrapper
    h2.clients__title
      | Our Clients.

    //-  image index that is inserted into img/logo-clients-#{index}.svg for linking an image

    +logo-clients()(index='1')
    +logo-clients()(index='2')
    +logo-clients()(index='3')
    +logo-clients()(index='4')
    +logo-clients()(index='5')
    +logo-clients()(index='6')