section.hero-secondary.hero-secondary--blue-darker
  .wrapper
    .hero-secondary__wrapper
      .hero-secondary__logo
        img(src="./img/cn-logo.svg")
      h1.hero-secondary__title
        div
          | Soccer
        div
          | Kick & Shootout
      h3.hero-secondary__subtitle
        | Global audience segmentation to determine brand and concept direction
section.hero-secondary--mobile
  +card('./single-project.html','blue-dark','RESEARCH / TV','SOCCER', 'KICK & SHOOTOUT','Global audience segmentation to determine brand and content direction','1','div')

