header.header
  a.header__logo(href="./index.html" )
    img.header__image(alt="logo" src="./img/logo-full.svg" )
  nav.header__nav
    a.header__link.header__link--nav(href="./index.html") Home
    a.header__link.header__link--nav(href="./projects.html") Projects
    a.header__link.header__link--nav(href="./about.html") About
    a.header__link.header__link--nav(href="./homegrown.html") Homegrown
  .header__contact
    +button('Contact','--small animated-button--white animated-button--notmenu','9','10','0','8','contact.html')

    //- if button is not working
    //- a.header__link.header__link--contact(href="./contact.html") Contact

  button.header__menu-button.hamburger.hamburger--elastic(type='button')
    span.hamburger-box
      span.hamburger-inner

.header__menu-mobile
  a.header__menu-mobile-link(href="./index.html")
    | Home
  a.header__menu-mobile-link(href="./projects.html")
    | Projects
  a.header__menu-mobile-link(href="./about.html")
    | About
  a.header__menu-mobile-link(href="./homegrown.html")
    | Homegrown
  a.header__menu-mobile-link(href="./about.html")
    | Privacy
  a.header__menu-mobile-link(href="./about.html")
    | Terms
  a.header__menu-mobile-link.header__menu-mobile-link--contact(href="./contact.html")
    | Contact
  //- +button('Contact','--small animated-button--bg','13','14','0','8','contact.html')

