header.header
  a.header__logo(href="./index.html")
    +fundemic-logo
  nav.header__nav
    a.header__link.header__link--nav(href="./index.html") Home
    a.header__link.header__link--nav(href="./projects.html") Projects
    a.header__link.header__link--nav(href="./about.html") About
    a.header__link.header__link--nav(href="./homegrown.html") Homegrown
  .header__contact
    //-  parameters of button mixin:
         1) text of the button
         2) modificator of the button
         3) unique id for main button
         4) unique id for secondary button that fakes stroke
         5) dx attribute that helps to align svg text horizontally
         6) dy attribute that helps to align svg text vertically
         7) link of the button
    +button('Contact','--small animated-button--white animated-button--notmenu','9','10','0','8','contact.html')

  button.header__menu-button.hamburger.hamburger--elastic(type='button')
    span.hamburger-box
      span.hamburger-inner

.header__menu-mobile(style="visibility: hidden")
  a.header__menu-mobile-link(href="./index.html")
    | Home
  a.header__menu-mobile-link(href="./projects.html")
    | Projects
  a.header__menu-mobile-link(href="./about.html")
    | About
  a.header__menu-mobile-link(href="./homegrown.html")
    | Homegrown
  a.header__menu-mobile-link(href="./about.html")
    | Privacy
  a.header__menu-mobile-link(href="./about.html")
    | Terms
  a.header__menu-mobile-link.header__menu-mobile-link--contact(href="./contact.html")
    | Contact