//- Including mixins and extending default layout for html page.
include ../templates/general/_mixins
extends ../templates/general/_layout


//- Inserting main data into page.
block config
  -
    var
      path = '../'
      pageTitle = 'Amazing Grabber'
      footerType = 'footer--bg-orange'
      imageLink = '7'
      description = 'Tap the screen to the mischievous pink monster snatch as many precious goodiesf as possible. Spend your hard-earned coins in the store to get over 20 unique items and  customize the monster’s appearance. Combine items to achieve a truly unique look. Keep on grabbing!'

//- Uncomment if need cookie dialog on this page.
//- block cookie
//- include templates/general/_cookie


//- Including header template.
block header
  include ../templates/general/_header


//- Including main sections of single project page.
block main
  main
    include ../templates/general/_game-in-house


//- Including footer template.
block footer
  include ../templates/general/_footer


//- Including scripts that are relative to this page.
block scripts-bottom
  script(src="../js/snap.svg-min.js")
  script(src="../js/menu-control.js")
  script(src="../js/single-button.js")
