//- Including mixins and extending default layout for html page.
include ../templates/general/_mixins
extends ../templates/general/_layout


//- Inserting main data into page.
block config
  -
    var
      path = '../'
      pageTitle = 'Go Santa Go'
      footerType = 'footer--bg-orange'
      imageLink = '6'
      description = 'It looks like Santa Claus hit the snooze button again, and barely got dressed, as he rushed out to work. Go, Santa! Go as quickly as possible, as you bounce along to deliver the gifts in timely fashion for the kids this Christmas. Make sure you put some clothes on before you drop down the chimney!'


//- Uncomment if need cookie dialog on this page.
//- block cookie
//- include templates/general/_cookie


//- Including header template.
block header
  include ../templates/general/_header


//- Including main sections of single project page.
block main
  main
    include ../templates/general/_game-in-house


//- Including footer template.
block footer
  include ../templates/general/_footer


//- Including scripts that are relative to this page.
block scripts-bottom
  script(src="../js/snap.svg-min.js")
  script(src="../js/menu-control.js")
  script(src="../js/single-button.js")
