@keyframes flying
  0%
    transform: translate3d(0, 0, 0)
  100%
    transform: translate3d(0, 3%, 0)

@keyframes flying-edge-fix
  0%
    transform: translate3d(0, 0, 0)
  100%
    transform: translate3d(0, 3vw, 0)

@keyframes scale-mini
  0%
    transform: scale(1)
  100%
    transform: scale(0.8)

@keyframes scale
  0%
    transform: scale(0)
  100%
    transform: scale(1)

@keyframes logo-reverse
  0%
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1)
  100%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

@keyframes logo
  0%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  3.4%
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  4.7%
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  6.81%
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  9.41%
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  10.21%
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  13.61%
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  14.11%
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  17.52%
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  18.72%
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  21.32%
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  24.32%
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  25.23%
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  29.03%
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  29.93%
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  35.54%
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  41.04%
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  54.44%
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  75.28%
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  100%
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)


@keyframes circle-1
  0%
    transform: matrix3d(0.001, 0, 0, 0, 0, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  4.3%
    transform: matrix3d(0.217, 0, 0, 0, 0, 0.217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  5.51%
    transform: matrix3d(0.347, 0, 0, 0, 0, 0.347, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  7.61%
    transform: matrix3d(0.603, 0.04, 0, 0, 0.02, 0.603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  8.61%
    transform: matrix3d(0.724, 0.031, 0, 0, 0.015, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  11.01%
    transform: matrix3d(0.978, 0.001, 0, 0, 0.001, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  11.41%
    transform: matrix3d(1.013, -0.004, 0, 0, -0.002, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  12.91%
    transform: matrix3d(1.122, -0.02, 0, 0, -0.01, 1.122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  15.22%
    transform: matrix3d(1.22, -0.037, 0, 0, -0.018, 1.22, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  16.52%
    transform: matrix3d(1.243, -0.04, 0, 0, -0.02, 1.243, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  17.22%
    transform: matrix3d(1.247, -0.041, 0, 0, -0.02, 1.247, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  19.82%
    transform: matrix3d(1.226, -0.036, 0, 0, -0.018, 1.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  21.92%
    transform: matrix3d(1.184, -0.029, 0, 0, -0.014, 1.184, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  24.32%
    transform: matrix3d(1.128, -0.019, 0, 0, -0.01, 1.128, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  28.33%
    transform: matrix3d(1.049, -0.008, 0, 0, -0.004, 1.049, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  28.93%
    transform: matrix3d(1.04, -0.006, 0, 0, -0.003, 1.04, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  33.43%
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  36.24%
    transform: matrix3d(0.99, 0.002, 0, 0, 0.001, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  39.44%
    transform: matrix3d(0.99, 0.002, 0, 0, 0.001, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  50.55%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  51.55%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  61.66%
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  69.77%
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  79.08%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  83.98%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  87.99%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  100%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

@keyframes circle-2
  0%
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  4.1%
    transform: matrix3d(0.656, -0.072, 0, 0, 0.121, 0.656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  5.71%
    transform: matrix3d(0.888, -0.062, 0, 0, 0.103, 0.888, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  8.11%
    transform: matrix3d(1.124, -0.031, 0, 0, 0.052, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  8.51%
    transform: matrix3d(1.149, -0.026, 0, 0, 0.043, 1.149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  11.31%
    transform: matrix3d(1.224, 0.001, 0, 0, -0.002, 1.224, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  12.11%
    transform: matrix3d(1.219, 0.006, 0, 0, -0.01, 1.219, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  14.71%
    transform: matrix3d(1.158, 0.012, 0, 0, -0.021, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  16.12%
    transform: matrix3d(1.111, 0.013, 0, 0, -0.021, 1.111, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  18.02%
    transform: matrix3d(1.05, 0.011, 0, 0, -0.018, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  21.32%
    transform: matrix3d(0.977, 0.007, 0, 0, -0.012, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  24.62%
    transform: matrix3d(0.956, 0.004, 0, 0, -0.006, 0.956, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  27.23%
    transform: matrix3d(0.964, 0.002, 0, 0, -0.003, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  38.04%
    transform: matrix3d(1.009, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  38.34%
    transform: matrix3d(1.009, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  51.35%
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  60.56%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  64.66%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  78.08%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  82.78%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  91.39%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

  100%
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)

//hero section animation
@keyframes stroke-curve
  0%
    visibility: visible
    stroke-dashoffset: 470px

  100%
    visibility: visible
    stroke-dashoffset: 940px

@keyframes stroke-smile
  0%
    visibility: visible
    stroke-dashoffset: 250px

  100%
    visibility: visible
    stroke-dashoffset: 500px

@keyframes stroke-line-big
  0%
    visibility: visible
    stroke-dashoffset: 85px

  100%
    visibility: visible
    stroke-dashoffset: 0

@keyframes stroke-line-big-reverse
  0%
    visibility: visible
    stroke-dashoffset: 85px

  100%
    visibility: visible
    stroke-dashoffset: 170px

@keyframes stroke-line-small
  0%
    visibility: visible
    stroke-dashoffset: 55px

  100%
    visibility: visible
    stroke-dashoffset: 0

//header logo animation
@keyframes stroke
  0%
    stroke-dashoffset: 33px

  100%
    stroke-dashoffset: 66px

@keyframes stroke-reverse
  0%
    stroke-dashoffset: 33px

  100%
    stroke-dashoffset: 0


@keyframes stroke-second
  0%
    stroke-dashoffset: 66px

  50%
    stroke-dashoffset: 33px

  100%
    stroke-dashoffset: 66px


@keyframes stroke-second-fix
  0%
    stroke-dashoffset: 66px

  50%
    stroke-dashoffset: 33px

  100%
    stroke-dashoffset: 66px


@keyframes bounceIn
  0%
    transform: scale(0, 0) translate3d(0, 0, 0)
    animation-timing-function: ease-out

  40%
    transform: scale(0.15, 0.4) translate3d(0, 0, 0)

  100%
    transform: scale(1) translate3d(0, 0, 0)
    animation-timing-function: ease-in


@keyframes bounceOut
  0%
    transform: scale(1) translate3d(0, 0, 0)
    animation-timing-function: ease-in

  10%
    transform: scale(0.15, 0.4) translate3d(0, 0, 0)

  30%
    transform: scale(0, 0) translate3d(0, 0, 0)
    animation-timing-function: ease-out

  100%
    transform: scale(0, 0) translate3d(0, 0, 0)


@keyframes bounceOut-fix
  0%
    transform: scale(1) translate3d(0, 0, 0)
    animation-timing-function: ease-in

  10%
    transform: scale(0.15, 0.4) translate3d(0, 0, 0)

  30%
    transform: scale(0, 0) translate3d(0, 0, 0)
    animation-timing-function: ease-out

  100%
    transform: scale(0, 0) translate3d(0, 0, 0)

@keyframes appearance
  0%
    transform: translate3d(0, -10%, 0)
    visibility: visible
  100%
    opacity: 1
    visibility: visible
    transform: translate3d(0, 0, 0)





