//- Including mixins and extending default layout for html page.
include templates/general/_mixins
extends templates/general/_layout

//- Asigning page title and footer color variables.
block config
  - var pageTitle = 'Contact'
  - var footer_type = 'footer--bg-blue'

//- Uncomment if need cookie dialog on this page.
//block cookie
  include templates/general/_cookie

//- Including header template.
block header
  include templates/general/_header

//- Including main section of contact page.
block main
  main.contact-page
    include templates/general/_form

//- Including footer template.
block footer
  include templates/general/_footer

//- Including scripts that are relative to this page.
block scripts-bottom
  script(src="js/snap.svg-min.js")
  script(src="js/menu-control.js")
  script(src="js/contact.js")
