doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block config
      - var pageTitle = 'Homepage'
      - var overflow = 'false'
    block scripts-head
    title #{pageTitle}
    meta(name='description', content='Free Web tutorials')
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" )

  body

  if overflow
    .overflow
      block cookie
      block header
      block main
      block footer
    block scripts-bottom
  else
    block cookie
    block header
    block main
    block footer
    block scripts-bottom
