section.circles#scroll
  h1.circles__title
    span#animation-text.text.text--animated
      | 100
    span.text.text--still
      | + games
  h3.circles__subtitle
    | delivered to happy clients
  +circles
