section.projects-grid
  .wrapper
    h2.projects-grid__title
      | Our Projects
    h3.projects-grid__description
      | We're happy when we're making things. Explore below to see some of our favourite interactive and research work.
    .projects-grid__card-wrapper
      //-  parameters of card mixin:
           1) link to the project
           2) color of the card
           3) label text
           4) upper title text
           5) bottom title text
           6) description text
           7) image $index that is inserted into img/card#{$index}.png for linking an image
           8) html tag which wraps the card
           9) game classname modificator for adding extra styles for specific cards
      +card('./single-project.html','blue-dark','RESEARCH / TV','ADVENTURE TIME ', 'THE FROSTY FIGHTS','Global audience segmentation to determine brand and content direction','1','li','frosty')
      +card('./single-project.html','green','DIGITAL / GAME','SOCCER', 'KICK & SHOOTOUT','Global audience segmentation to determine brand and content direction','2','li','default')
      +card('./single-project.html','blue-light','RESEARCH / TV','ADVENTURE TIME', ' AVALANCHE','Global audience segmentation to determine brand and content direction','3','li','avalanche')
      +card('./single-project.html','orange','DIGITAL / GAME','SOCCER', 'KICK & SHOOTOUT','Global audience segmentation to determine brand and content direction','4','li','default')


