.cookie
  .cookie__message
    span.cookie__text
      | Welcome to Fundemic.
    span.cookie__text.cookie__text--block
      | This site uses cookies.
    span.cookie__text.cookie__text--block.cookie__text--last
      | Please read our
    a.cookie__text.cookie__link(href="./terms.html") terms
    span.cookie__text
      | and
    a.cookie__text.cookie__link(href="./privacy.html")
      | privacy policy
  img.cookie__icon(src="./img/cross-in-square.svg")