section.games-grid
  .wrapper
    h1.games-grid__title
      div
        | Homegrown. These are our
      div
        | older projects created for different
      div
        | purpose from 2006 to 2010
    h3.games-grid__sub-title
      div
        | Time when flash was still on the run. Our proud beginning,
      div
        | our great experience...

    .games-grid__game-wrapper

      //-  parameters of game mixin:
           1) image $index that is inserted into src="img/oldgame#{$index}.png" for linking an image
           2) title text
           3) description text
           4) color of the button
           5) link to the game
      +game('1','SUN CHARMS','Global audience segmentation to determine brand and content direction','orange','./single-project.html')
      +game('7','ALIENANZA','Global audience segmentation to determine brand and content direction','light-blue','./single-project.html')
      +game('2','AMAZING GRABBER','Global audience segmentation to determine brand and content direction','pink','./single-project.html')
      +game('7','ALIENANZA','Global audience segmentation to determine brand and content direction','light-blue','./single-project.html')
      +game('6','SUN CHARMS','Global audience segmentation to determine brand and content direction','redpink','./single-project.html')
      +game('3','ALIENANZA','Global audience segmentation to determine brand and content direction','orange','./single-project.html')
      +game('5','AMAZING GRABBER','Global audience segmentation to determine brand and content direction','blue','./single-project.html')
      +game('4','ALIENANZA','Global audience segmentation to determine brand and content direction','orange','./single-project.html')
      +game('1','SUN CHARMS','Global audience segmentation to determine brand and content direction','purple','./single-project.html')
