doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block default
      - var game = false
      - var path = ''

    block config

    block scripts-head

    title Fundemic | #{pageTitle}

    meta(name='description', content='Fundemic is a game development company offering game development services across platforms.')

    link(rel='icon', type='image/x-icon', href='favicon.ico')

    link(rel="stylesheet", href="#{path}css/main.css")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" )

  body

  if (overflow)
    .overflow
      block cookie
      block header
      block main
      block footer
    block scripts-bottom

  else
    block cookie
    block header
    block main
    block footer
    block scripts-bottom
