section.briefs
  .wrapper
    .briefs__row
      .briefs__column.first-margin
        h2.briefs__title
          | The Client
        p.briefs__description
          | Dubit was established in 1999 to develop immersive entertainment and education for young people. We knew from the outset that understanding how kids would use our products was crucial to their success, so we included children on our board - the youngest directors ever according to the Guinness Book of Records! (Yes, we've got the certificate.)
        p.briefs__description
          | They've all grown up now, but we've kept that principle alive and at the heart of the company: kids


      .briefs__column.first-margin
        h2.briefs__title
          | The Brief
        p.briefs__description
          | We now are proud to have 75 professionals in our Leeds team, 3 offices around the world, and we work for some of the greatest brands around - some of which we are just helping start out on their journey. Most of our clients have been with us for years and have become our friends, but our real joy lies in watching millions of kids use our products - it's our measure of success.
        p.briefs__description
          | They've all grown up now, but we've kept that



    .ipad.ipad--video.second-margin
      .ipad__wrapper
        .ipad__circle
        .ipad__screen
          .ipad__button
            | PLAY
          .ipad__thumbnail
          iframe.ipad__video(src='https://www.youtube.com/embed/0_SMT_Gw77w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')



    .briefs__row
      .briefs__column.third-margin
        h2.briefs__title
          | The Brief
        p.briefs__description
          | We now are proud to have 75 professionals in our Leeds team, 3 offices around the world, and we work for some of the greatest brands around - some of which we are just helping start out on their journey. Most of our clients have been with us for years and have become our friends, but our real joy lies in watching millions of kids use our products - it's our measure of success.
        p.briefs__description
          | They've all grown up now, but we've kept that


      .briefs__column.third-margin.briefs__column--placeholder

    .ipad.ipad--slider.fourth-margin
      .ipad__wrapper
        .ipad__circle
        .ipad__circle-mini
        .ipad__screen
          .glide
            .glide__track(data-glide-el="track")
              ul.glide__slides
                li.glide__slide
                  .template 1
                li.glide__slide
                  .template 2
                li.glide__slide
                  .template 3

            .glide__arrows(data-glide-el='controls')
              button.glide__arrow.glide__arrow--left(data-glide-dir='<')
                +arrow-left
              button.glide__arrow.glide__arrow--right(data-glide-dir='>')
                +arrow-right

    .briefs__row
      .briefs__column.fifth-margin.briefs__column--placeholder
      .briefs__column.fifth-margin
        h2.briefs__title
          | The Brief
        p.briefs__description
          | We now are proud to have 75 professionals in our Leeds team, 3 offices around the world, and we work for some of the greatest brands around - some of which we are just helping start out on their journey. Most of our clients have been with us for years and have become our friends, but our real joy lies in watching millions of kids use our products - it's our measure of success.
        p.briefs__description
          | They've all grown up now, but we've kept that
